<div class="info">
  <p>
      
      The purpose of Intelligent Travel Guide is to be helpful when visiting some new places and cities.
      It provides informaton about the city and its famous destinatons. It can be Historical Monuments, Temples,
      Markets, Beaches, Hills and many more.
      It also estimates time needed to travel from one destination to another and if it is  possible, advise
      which bus line or other public means of transport may be used.
      It should be helpful for people those who want to visit a city without having much information about it.
      <br>
      <strong>Tourism</strong> is travel for pleasure or business; also the theory and practice of touring, the business of attracting, accommodating, and entertaining tourists, and the business of operating tours. Tourism may be international, or within the traveller's country. The World Tourism Organization defines tourism more generally, in terms which go "beyond the common perception of tourism as being limited to holiday activity only", as people "traveling to and staying in places outside their usual environment for not more than one consecutive year for leisure and not less than 24 hours, business and other purposes".
      <br>
      Tourism can be domestic or international, and international tourism has both incoming and outgoing implications on a country's balance of payments.
      <br>
      Tourism suffered as a result of a strong economic slowdown of the late-2000s recession, between the second half of 2008 and the end of 2009, and the outbreak of the H1N1 influenza virus, but slowly recovered. International tourism receipts (the travel item in the balance of payments) grew to US$1.03 trillion (€740 billion) in 2005, corresponding to an increase in real terms of 3.8% from 2010. International tourist arrivals surpassed the milestone of 1 billion tourists 
      globally for the first time in 2012, emerging markets such as China, Russia, and Brazil had significantly increased their spending over the previous decade. The ITB Berlin is the world's leading tourism trade fair. Global tourism accounts for ca. 8% of global greenhouse gas emissions.

  </p>  
</div>