<div class="row padding">
  <div class="col-md-6">
    <a routerLink="/Bangalore">
        <img class="img-thumbnail" src="./assets/pics/bangalore_pic.jpg" alt="Bangalore">
        <div class="caption font-decoration">
          <strong>Bangalore</strong>
        </div>
    </a>
  </div>
  <div class="col-md-6">
    <a routerLink="/Delhi">
        <img class="img-thumbnail" src="./assets/pics/delhi_pic.jpg" alt="Delhi" >
        <div class="caption font-decoration">
            <strong>Delhi</strong>
          </div>
    </a>
  </div>
</div>
<div class="row padding">
  <div class="col-md-6">
    <a routerLink="/Mumbai">
        <img class="img-thumbnail" src="./assets/pics/mumbai_pic.jpg" alt="Mumbai">
        <div class="caption font-decoration">
          <strong>Mumbai</strong>
        </div>  
    </a>
  </div>
  <div class="col-md-6">
    <a routerLink="/Jaipur">
        <img class="img-thumbnail" src="./assets/pics/jaipur_pic.jpg" alt="Jaipur">
        <div class="caption font-decoration">
          <strong>Jaipur</strong>
        </div>
    </a>
  </div>
</div>
